html body{
  display: flex;
  align-items: center;
  justify-content: center;
}

html{
  height: 100%;
}

body{
  border: 2px solid aquamarine;
  width: 100%;
  height: inherit;
  background-color: #FFFDD0;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid orange;
  width: 50%;
  height: inherit;
  background-color: white;
}