fieldset{
  border: none;
}

ul{
  list-style-type: upper-alpha;
  padding: inherit;
}
/*
.option{
background-color: green;
    display: none;
}
*/

input[type = "radio"]{
display: none;
}

input:checked + label{
color: red;
}

p{
  align-self: center;
}
